<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand mr-0 mr-md-2" href="/">SPID Test</a>
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">

        </ul>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
            <a class="nav-link p-2 disabled" href="#" aria-label="Version">
                v 0.2
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-2" href="https://github.com/giafar/spid-test" target="_blank" rel="noopener" aria-label="GitHub">GitHub                
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-2" href="https://italia.github.io/bootstrap-italia/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Thanks to  Bootstrap Italia</a>
        </li>
    </ul>
</nav>